<ul class="pager">
    <li><%= link_to "1", pages_path(1) %></li>
    <li><%= link_to "2", pages_path(2) %></li>
    <li><%= link_to "3", pages_path(3) %></li>
    <li><%= link_to "4", pages_path(4) %></li>
    <li><%= link_to "5", pages_path(5) %></li>
    <li><%= link_to "6", pages_path(6) %></li>
    <li><%= link_to "7", pages_path(7) %></li>
</ul>