<center> 
  <h2>Videos most popular in youtube</h2>
  <p><% @info.videos.each do |video| %>
    <%= '->  ' %><%= link_to "https://www.youtube.com/watch?v=#{video.unique_id}", "https://www.youtube.com/watch?v=#{video.unique_id}", target: '_blank' %>
    <%= video.description %><br><br>
    <!--<iframe width="560" height="315" src="//www.youtube.com/embed/<%= video.unique_id %>" frameborder="0" allowfullscreen></iframe>-->


    <img alt="" src="//i.ytimg.com/vi/<%= video.unique_id %>/mqdefault.jpg" aria-hidden="true" width="196">
    <% end %>
  </p>
</center>